/* INICIO CLASES REUTILIZABLES */
* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.img-post{
  width: 100%;
}

main{
  margin-top: 20px;
}

/* FÍN CLASES REUTILIZABLES */
.container-flex-row {
	display: flex;
	justify-content: space-between;

}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}

.display-block{
  display: block;
}

.vh100 {
	height: 100vh;
}

.text-color-white{
  color: white;
}

.text-color-title{
  color: #ee6e73;
}

.grad10 {
  background: linear-gradient( rgb(158, 205, 235) 65%, rgb(200, 231, 243));
	}

.title-principal{
font-size: 2.5rem;
font-weight: bold;
}

.logo-general{
  width: 65%;
}

/* INICIO CLASES INDEX */

/* GRADIENTE PARA EL INICIO*/
.grad70 {
  background: linear-gradient( rgb(158, 205, 235) 65%, rgb(200, 231, 243));
}

/* FIN CLASES INDEX */

/* INICIO CLASES PRIMARY */
.btn-primary{
  background-color: #641E16;
}

/* FIN CLASES PRIMARY */

/* INICIO CLASES PRIMARY */
.div-logo{
  max-width: 100%;
}
/* FIN CLASES PRIMARY */

/* INICIO CLASES LOGIN */
.line{
  margin-top: 5%;
  margin-bottom: 5%;
}

.display-block{
  display: block;
}
/* FIN CLASES LOGIN */
#img-profile{
  max-width: 30%;
  margin-left: 33%;

}
/* CLASES PROFILE */


/* INICIO MEDIA QUERIES */

/* FIN MEDIA QUERIES */
