<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inicio</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="">
  <header>
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
    <nav>
      <div class="nav-wrapper">
        <div class="div-logo">
          <a href="inicio.html" class="brand-logo">
            <img class="logo-general" src="../assets/images/puertas.png" alt="Logo condominio">
          </a>
        </div>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="inicio.html">
              <i class="material-icons">event</i>Inicio
            </a>
          </li>
          <li>
            <a href="friends.html">
              <i class="material-icons">supervisor_account</i>Friends
            </a>
          </li>
          <li>
            <a href="notifications.html">
              <i class="material-icons">notifications</i>Notif.
            </a>
          </li>
          <li>
            <a href="profile.html">
              <i class="material-icons">account_circle</i>Profile
            </a>
          </li>
          <li>
            <a href="primary.html">
              <i class="material-icons">close</i>Cerrar
            </a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="../assets/images/portada.jpg">
              </div>
              <a href="#!user">
                <img class="circle" src="../assets/images/user.jpg">
              </a>
              <a href="#!name">
                <span class="white-text name">John Doe</span>
              </a>
              <a href="#!email">
                <span class="white-text email">jdandturk@gmail.com</span>
              </a>
            </div>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">cloud</i> Mi Drive
            </a>
          </li>
          <li>
            <a href="inicio.html">Inicio</a>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a href="friends.html">Friends</a>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a href="notifications.html">Notifications</a>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a href="profile.html">Profile</a>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a href="primary.html">Close</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="col s2">
            <img src="../assets/images/user.jpg" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
          <div class="col s10">
            <!-- Inicio Tabs -->
            <ul id="tabs-swipe-demo" class="tabs">
              <li class="tab col s5">
                <a href="#test-swipe-1">
                  <i class="material-icons">mode_edit</i>Publicación</a>
              </li>
              <li class="tab col s5">
                <a class="active" href="#test-swipe-2">
                  <i class="material-icons">insert_photo</i>Foto</a>
              </li>
            </ul>
            <div id="test-swipe-1" class="">
              <div class="input-field">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">¿Algo nuevo que informar?</label>
                <a class="waves-effect waves-light btn btn-primary" id="btnPost">Publicar</a>
              </div>
            </div>
            <div id="test-swipe-2" class="">
              <form action="#">
                <div class="file-field input-field">
                  <div class="btn" id="">
                    <i class="material-icons">insert_photo</i>
                    <input id="file" type="file" multiple>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                  </div>
                </div>
              </form>
              <a class="waves-effect waves-light btn btn-primary" id="btnImage">Publicar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container">
      <div id="board" class="row">
        <form class="col s12">
          <div class="row">
            <div class="col s2">
              <img src="../assets/images/user.jpg" alt="" class="circle responsive-img">
              <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <p>Mi Primer Post</p>
              <img class="img-post" src="../assets/images/portada.jpg" alt="">
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/inicio.js"></script>
</body>
</html>
